
body {
    background-color: burlywood;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


section {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: none; 
    transition: box-shadow 0.5s ease;
    width: 300px;
}


section:hover {
    box-shadow:  10px 25px rgba(0, 0, 0, 0.25);
}


h1 {
    color: #4a2c11; 
    font-size: 28px;
    margin-top: 0;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

li {
    background-color: #f7f3ee;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 6px;
    color: #333333;
    font-size: 18px;
}


label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}


input[type="checkbox"] {
    cursor: pointer;
    width: 20px;
    height: 20px;
}


li:has(input:checked) {
    text-decoration: line-through;
    color: #888888;
    background-color: #e8e4df;
}

p {
    color: #666666;
    font-size: 13px;
    text-align: center;
    margin: 15px 0 0 0;
    font-style: italic;
}